body
{
    font-family: helvetica, arial, sans-serif;
    color: #ff23eb;
}

/*  */
@media only screen and (min-width: 992px) {
body
{
    font-size: 6em;
}

p
{
	font-size: 4em;
    margin: 20;
    padding: 20;
}
}

/*  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
body
{
    font-size: 4em;
}

p
{
	font-size: 2em;
    margin: 10;
    padding: 10;
}
}


/*  */
@media only screen and (max-width: 767px) {
body
{
    font-size: 1em;
}

p
{
	font-size: .5em;
    margin: 0;
    padding: 0;
}
}
