body
{
    font-family: helvetica, arial, sans-serif;
    color: #ff23eb;
}

header {
    position: relative;
    left: 20px;
}

/* Desktop view */
/*  each of the 3 sections should take up equal amount of space on the screen (% width and float) */

@media only screen and (min-width: 992px) {
body
{
    font-size: 6em;
}

p
{
	font-size: 4em;
    margin: 20;
    padding: 20;
}
}

/* Tablet view */
/*the first 2 sections should be in the first row and be of equal size. The 3rd section should 
be in the second row and take up the entire row by itself. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
body
{
    font-size: 4em;
}

p
{
	font-size: 2em;
    margin: 10;
    padding: 10;
}
}


/* Mobilephone view */
/* each section should take up the entire row */

@media only screen and (max-width: 767px) {
body
{
    font-size: 1em;
}

p
{
	font-size: .5em;
    margin: 0;
    padding: 0;
}
}

