/* Base style */

* {
box-sizing: border-box;
}

.row {
	width: 100%;
}

body
{
    font-family: helvetica, sans-serif;
}

h1 {
	text-align:center; 
	font-size:200%;
	color: #ff23eb;
}

header {
	font-size: 150%;
	float: right;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}

p {
clear: right;
}

#feta, #tzatziki, #sushi {  
border:1px solid black;  
color:black;  
background-color: grey;
text-align: justify;
}  

#feta > header {
background-color: yellow;  
}

#tzatziki > header {
background-color: lime;  
}

#sushi > header {
background-color: pink;  
}

/* Desktop view */
/*  each of the 3 sections should take up equal amount of space on the screen (% width and float) */

@media only screen and (min-width: 992px) {

#sushi, #tzatziki, #feta 
	{
		width: 33%;
		float: left;
		padding: 5px;
		margin: 1px;
	}
}

/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 991px) {

#feta, #tzatziki
	{
		width: 50%;
		float: left;
		padding: 5px;
		margin: 0px;
		margin-bottom: 20px;
	}

#sushi 
	{  
		width: 100%;
		clear: left;
		margin-bottom: 30px;
	}
}

/* Mobilephone view */
@media only screen and (max-width: 767px) {
	div
	{
		width: 100%;
		padding: 5px;
		margin-bottom: 20px;		
	}
}
